*{  
    font-family: "poppins";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    overflow-x: hidden;
}
body{
    background-image: linear-gradient(#E6E6FA, #B8E7FA );
    min-height: 100vh;
}
button{
    background-image: linear-gradient(to right, #FFA500, #FFD447);
    padding: 17px 24px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    opacity: 80%;
    border-radius:10px;
    cursor: pointer;
    box-shadow: 0px 4px 15px -5px  rgb(0, 0, 0, 0.5);

}
button:hover{
    box-shadow: 0px 6px 20px -5px  rgb(0, 0, 0, 0.7);
    opacity: 100%;
    scale: 1.05;
}

/* Header */
header{
    width: 100%;
    background-color:#ffffff;
    padding: 24px 0px;
    border-bottom: #C6DBFF 2px solid;


}
#nav{
    display: flex;
    justify-content: space-between;
    margin:0px 50px;
    align-items: center;
}
#nav h1{
    color: #FFA500;
    font-size: 28px;
    font-weight: bolder;
}
#nav h1 span{
    color:black;
    font-size: 28px;
    font-weight: bolder;
}

/* Goal */
#goal{
    margin:100px 100px;
    background-color: #E6EDF9;
    
    border-radius:16px ;
    padding: 40px 60px;
    gap: 32px;
    text-align: center;

}
#goal img, #goal p{
    margin-bottom:32px ;
}
#goal h1{
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: bolder;
    color:#0D1321
}
#goal p{
    font-size: 16px;
    color: #0D1321;
}

/* Blog */
#blog{
    text-align: center;
    margin: 0px 100px;
    margin-bottom: 100px;
    
}
 .heading-text{
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}
 .heading-text h1{
    font-size: 32px;
    font-weight: bolder;
    color: #0D1321;
    margin-bottom: 24px;
}
 .heading-text p{
    font-size: 16px;
    color: #0D1321;
    opacity: 70%;
    margin-bottom: 48px;

}

#blog #banner-container #banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E6EDF9;
    padding: 48px;
    gap: 32px;
    border-radius: 16px;
    
    
}
#banner #texts2{
    text-align: left;
    margin-left: 50px;
    width: 50%;
    
}
#texts2 h2{
    font-size: 24px;
    font-weight: bold;
    color: #0D1321;
    opacity: 70%;

}
#texts2 p{
    font-size: 16px;
    color: #0D1321;
    opacity: 70%;
    margin-bottom: 32px;

}

/* Inspiration section */
#yt-video{
    border: rgb(13, 19, 33, 20%) 1px solid;
    border-radius: 16px;
    padding: 32px;
    gap: 10px;
    margin: 0px auto;
    width: 70%;
    height: 100%;
    margin-bottom: 100px;
    

}
.video{
    border-radius: 16px;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
   
}
.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

/* Target Section */
#target{
    margin: 0px 100px;
    margin-bottom: 100px;
}
#cards-container{
    display: flex;
    justify-content: space-between;
}
.cards{
    background-image: linear-gradient(#E6EDF9,#9DE5FF);
    height: 244px;
    width: 364px;
    border-radius: 16px;
    gap: 32px;
    padding: 40px;
    box-shadow: 0px 4px 40px rgb(0, 0, 0, 25%);
}
.card-elements img, .card-elements h1, .card-elements a{
    margin-bottom: 24px;
    color: #0D1321;
}
.card-elements a{
    font-size: 16px;
    font-weight: bold;
    
}
.card-elements a:visited{
    color: #0D1321;
}

/* Footer */
footer{
    background-color:#ffffff ;
    padding: 32px 150px;
}
footer #footer-elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
footer #footer-elements p{
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
}
#social{
    display: flex;
    flex-direction: row;
    gap: 24px;
    
}
    
   
